{% extends 'Accounts/base.html' %}

	{% block content %}
		<form class="login100-form validate-form" action="" method="post" autocomplete="off" style="padding-top: 9%;padding-bottom: 0px;">
            {% csrf_token %}
			<span class="login100-form-title p-b-34">
				Account Registration
			</span>
 			<div>
				<h4 style="color:red;">{{ form.username.errors.as_text }}</h4>
			</div>
 			<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
				 {{form.username}}
				<span class="focus-input100"></span>
			</div>
			<div>
				<h4 style="color:red;">{{ form.email.errors.as_text }}</h4>
			</div>
			<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
				 {{form.email}}
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
				 {{form.first_name}}
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
				 {{form.last_name}}
				<span class="focus-input100"></span>
			</div>
			
			<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type password" >
				{{form.password}}
				<span class="focus-input100"></span>
			</div>
			<div>
				<h4 style="color:red;">{{ form.password.errors.as_text }}</h4>
			</div>
			<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type password">
				{{form.password2}}
				<span class="focus-input100"></span>
			</div>
			<div>
				<h4 style="color:red;">{{ form.password2.errors.as_text }}</h4>
			</div>
			<div class="container-login100-form-btn">
				<button class="login100-form-btn">
					Register
				</button>
			</div>

			<div class="w-full text-center p-t-27 p-b-239">

				<div>
				<span class="txt1">
					Already have an account?
				</span>
				<a href="../login" class="txt2" >
					Sign in
				</a>
				</div>
				
			</div>

			
		</form>
	{% endblock %}
			