{% extends 'Admin/base.html' %}

{% block content %}
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
           <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Categories</a>
            <button class="btn btn-primary btn-round"><a href="/Admin/category/add_category"> Add Category</a></button>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
          
            <form class="navbar-form" action="/Admin/category/search" method="GET">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search..." name="q">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
           
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- modal -->
{% for cat in object_list  %}
<div class="modal fade" id="exampleModal-{{cat.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are tou sure you want to delete ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='delete_category/{{cat.id}}';">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
      <!-- /modal -->


      <div class="content">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">{{title}}</h4>
                  <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                        <table class="table" >
                          <thead text-primary align="center"> 
                            {%for field in fields%}
                            <th>{{field.name}}</th>
                            {% endfor%}
                            {% if fields %}
                            <th>Actions</th>
                            {%endif%}
                          </thead>
                          <tbody align="center">
                            {% if object_list %}
                            {% for cat in object_list %}
                            <tr>
                              <td>{{cat.id}}</td>
                              <td>{{cat.Name}}</td>
                               <td>
                              
                                <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"  onclick="window.location.href='/Admin/category/edit_category/{{cat.id}}';" data-original-title="Edit">
                                  <i class="material-icons">edit</i>
                                </button>
                              <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"  data-toggle="modal" data-target="#exampleModal-{{cat.id}}"    data-original-title="Delete">
                                  <i class="material-icons icon-image-preview">delete_outline</i>
                                </button>
                            </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <td colspan="{{fields|length|add:"1"}}">No results Found</td>
                            {%endif%}


                            
                             
                          </tbody>
                        </table>
                        
                        
                       
               
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright" id="date">
            Made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
      
    </div>
{% endblock %}

