{% extends 'Admin/base.html' %}

{% block content %}
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
           <div class="navbar-wrapper">
          </div>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Post</h4>
                </div>
                <div class="card-body">
                  

                    <div class="row">
                      <div class="col-md-12">
                        <h3>{{post.title}}</h3>
                      </div>
                      <div class="col-md-5">
                        <img class="img-fluid" src="{{post.image.url}}">
                      </div>
                      
                        <div class="col-md-5" style="display: block;">
                          <p style="font-size: medium;color: beige;">{{post.content}}</p>
                          <div style="display: block;">
                            {{post.user.email}}
                               
                            
                          </div>
                          <div style="display: block;">
                            {{post.date}}
                          </div>
                        </div>
                     
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
{% endblock %}

