{% load static %}
<div class="sidebar" data-color="purple" data-background-color="black" data-image="{% static 'Admin/assets/img/sidebar-2.jpg' %}">

      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Manage App 
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">

          
          <li class="nav-item  ">
            <a class="nav-link" href="/Admin/users">

              <i class="material-icons">content_paste</i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" href="/Admin/category">
              <i class="material-icons">content_paste</i>
              <p>Categories</p>
            </a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" href="/Admin/posts">
              <i class="material-icons">content_paste</i>
              <p>Posts</p>
            </a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" href="/Admin/Forbidden_Words/">
              <i class="material-icons">content_paste</i>
              <p>Forbidden Words</p>
            </a>
          </li>
           <li class="nav-item  ">
            <a class="nav-link" href="/Admin/tags/">
              <i class="material-icons">content_paste</i>
              <p>Tags</p>
            </a>
          </li>

        </ul>
      </div>
</div>
