{% extends 'Admin/base.html' %}

{% block content %}
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
           <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Users</a>
            <button class="btn btn-primary btn-round"><a href="add_user"> Add User</a></button>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
         <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form" method="GET" action="/Admin/users/search/">
              <div class="input-group no-border">
                <input type="text" name="q" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
           
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">User List</h4>
                </div>
                
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary" align="center">
                        <th>ID</th>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Avatar</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Actions</th>
                      </thead>
                      <tbody align="center">
                        {% for users in object_list %}
                          {% if users.id == user.id %}
                          <tr style="background: #23425e;">
                          {% else %}
                           <tr>
                          {% endif %}
                          <td>{{users.id}}</td>
                          <td>{{users.username}}</td>
                          <td>{{users.first_name}}</td>
                          <td>{{users.last_name}}</td>
                          <td>{{users.email}}</td>
                          {% if users.avatar %}
                          <td><img class="img-fluid" style="height: 100px;" src="{{users.avatar.url}}"></td>
                          {% endif %}
                          
                          {% if users.is_active == 1 %}
                            <td style="color :green;">Active</td>
                          {% elif users.is_active == 0 %}
                            <td style="color :red;">InActive</td>
                          {%endif%}
                      
                          <td>{% if users.role == 0 %}
                          Super Admin
                          {% elif users.role == 1 %}
                           Admin
                          {% else %}
                            User
                          {%endif%}</td>
                          <td>
                            {% if user.role == 1 and user.id != users.id %}
                             {% if users.role == 1 or users.role == 0 %}
                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"  onclick="window.location.href='edit_user/{{users.id}}';" data-original-title="Disable Edit" disabled>
                                <i class="material-icons">edit</i>
                              </button>
                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"  onclick="window.location.href='delete_user/{{users.id}}';" data-original-title="Disable Delete" disabled>
                                <i class="material-icons icon-image-preview">delete_outline</i>
                              </button>

                            {% else %}
                             <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"  onclick="window.location.href='edit_user/{{users.id}}';" data-original-title=" Edit" >
                                <i class="material-icons">edit</i>
                              </button>
                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"  onclick="window.location.href='delete_user/{{users.id}}';" data-original-title="Delete" >
                                <i class="material-icons icon-image-preview">delete_outline</i>
                              </button>
                               {% endif%}
                              {% else %}
                              <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"  onclick="window.location.href='edit_user/{{users.id}}';" data-original-title=" Edit" >
                                <i class="material-icons">edit</i>
                              </button>
                            <button type="button" rel="tooltip" title="" class="btn btn-white btn-link btn-sm"  onclick="window.location.href='delete_user/{{users.id}}';" data-original-title="Delete" >
                                <i class="material-icons icon-image-preview">delete_outline</i>
                              </button>
                            {% endif%}

                          </td>
                        </tr>
                      {%endfor%}
              
                      </tbody>
                    </table> 
                  </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right" id="date">
            , made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
{% endblock %}

