/* Colors:
	Body 		  : #505050
	Headers 	: #11151c
	Primary 	: #ee4266
	Dark 		  : #1b1c1e
    Grey 		  : #e8eaed #97989b #323335
*/

/* ///////////////////////////// + recentPosts.html + \\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.recent_post_style{
    background-color: rgba(0,0,0,.5) !important;
    border-radius: 20px;
    box-shadow: 4px 5px 7px #a7a1a1;
    transform: translateX(0);
    transition: all .3s ease-in-out;
}
.post:hover .recent_post_style {
    transform: rotate(8deg);
}

.recent_post_style .link_white{
    color: #fff;
    transition: all .2s ease-in-out;
}
.recent_post_style .link_ccc{
    color: #ccc;
}
.recent_post_style .cat_link{
    color: #ee4266;
}
.recent_post_style .cat_link:hover{
    color: #fff;
}
.recent_post_style .post-title:hover .link_white{
    color: #ee4266;
}


/* ///////////////////////////// end + recentPosts.html + \\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* ///////////////////////////// + posts.html + \\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.raduis_img{
    border-radius: 20px;
}
.post_add_shadow{
    border-radius: 20px;
    box-shadow: 4px 6px 8px #e0dfdf;
    margin-bottom: 40px;
}
