{% extends 'Blog/base.html' %}
{% load static %}
{% block content %}
<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-6">
					<!-- post share -->

					<!-- post content -->
					<div class="section-row pt-5">
						<h3>{{post.title}}.</h3>
						<figure class="image_post_details">
							<img class="img-circle user_image_details" width="80px" height="80px" src="{{post.user.avatar.url}}" alt="avatar">
							<img class="img-fluid" src="{{post.image.url}}" alt="">
						</figure>
						<div class="section-post-info">
							<div class="post-category">
							{% comment %} <span>Categories:</span> {% endcomment %}
							{% for cat in post.category.all  %}
								<a href="/category/{{cat.Name}}">{{cat.Name}}</a>
							{% endfor %}
								
							</div>
							<h1>{{post.title}}</h1>
							<ul class="post-meta">
								<li><img class="img-circle" width="50px" height="50px" src="{{post.user.avatar.url}}" alt="avatar"></li>
								<li>{{post.user.username}}</li>
								<li><a href="author.html">{{post.user.username}}</a></li>
								{% comment %} <li>{{post.user.email}}</li> {% endcomment %}
								<li>{{post.date}}</li>
								<li><i class="fa fa-comments"></i>{{comments|length}}</li>
								{% comment %} <li><i class="fa fa-eye"></i> 807</li> {% endcomment %}
								<li><i class="fa fa-thumbs-up"></i> {{likeCounter}}</li>
								<li><i class="fa fa-thumbs-down"></i> {{dislikeCounter}}</li>
								
							</ul>
						</div>	
						{% comment %} <h3>Sit nulla quidam et, eam ea legimus deserunt neglegentur.</h3> {% endcomment %}
						<p>{{post.content}}</p>
						
					</div>
					<!-- /post content -->
					<!-- like and dislike buttons -->
					{% if user.is_authenticated %}
					<div class="section-row">
						<div class="post-like">
							<form method="POST" action="">
								{% csrf_token %}
								
								
									{% if flag == 1 %}
											<button class="like btn btn-success" >
												<i class="fa fa-thumbs-up"></i>
												<input name="like" value="Like" type="submit" >
											</button>
											<button class="btn-secondary btn like" disabled >
												<i class="fa fa-thumbs-down"></i>
												<input name="dislike" value="Dislike" type="submit" disabled style="border:none;">
											</button>
										{% elif flag == -1 %}
											<button class="like btn btn-secondary"  disabled style="border:none;">
												<i class="fa fa-thumbs-up"></i>
												<input name="like" value="Like" type="submit" disabled style="border:none;">
											</button>
											<button class="btn-danger like btn" >
												<i class="fa fa-thumbs-down"></i>
												<input name="dislike" value="Dislike" type="submit" style="border:none;" >
											</button>
										{% else %}
										
											<button class="like btn btn-secondary"  >
												<i class="fa fa-thumbs-up"></i>
												<input name="like" value="Like" type="submit" style="border:none;">
											</button>
											<button class="like btn  btn-secondary " >
												<i class="fa fa-thumbs-down"></i>
												<input name="dislike" value="Dislike" type="submit" >
											</button>
										{% endif %}
									{% comment %} {% endif %} {% endcomment %}
									
									
								
							
								
					
								<!-- checked data-toggle="toggle" data-on="style='background-color='red''" data-off="style='background-color='blue''" -->
								<!-- data-toggle="toggle" data-on="liked" data-off="like" -->
								
								
									<!-- <button name="like" type="submit" class="like">Like</button>
									<button name="dislike" type="submit" class="dislike">Dislike</button> -->
									<!-- <style>
										.like {
											background-color: white;
											color:lawngreen;
											
										}
										.dislike{
											background-color: white;
											color: hotpink;
											
										}
										.like.pressed {
											background-color: lawngreen;
											color: white;
										}
										.dislike.pressed {
											background-color: hotpink;
											color: white;
										}
									</style>
									<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
									<script>
										$(() => {
											
											$('like').click(function() {
												$(this).toggleClass('pressed');
											});
											$('dislike').click(function() {
												$(this).toggleClass('pressed');
											});
										});
									</script> -->
								
								
								<!-- <button ><i class="fas fa-thumbs-up" style="font-size: 50px;"></i></button> -->
							</form>
						</div>
					</div>
					{% endif %}
					<!-- /like and dislike buttons -->
					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags ">
							<ul>
								<li >TAGS:</li>
								{% for tag in post.tag.all  %}
								
								<li ><a href="/tag/{{tag.name}}" style=" ">{{tag.name}}</a></li>
								
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- /post tags -->

					<!-- post author -->
					{% comment %} <div class="section-row">
						<div class="section-title">
							<h3 class="title">About <a href="author.html">John Doe</a></h3>
						</div>
						<div class="author media">
							<div class="media-left">
								<a href="author.html">
									<img class="author-img media-object" src="./img/avatar-1.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<ul class="author-social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div> {% endcomment %}
					<!-- /post author -->


					<!--  comments section -->
					<div class="section-row">
						<div class="section-title">
							<h3 class="title">Comments: {{comments|length}}</h3>
						</div>
						<div class="post-comments">
							{% for comment in comments %}
							<!-- comment -->
							<div class="media" style="">
								<div class="media-left">
								{% comment %} {{comment.user}} {% endcomment %}
									<img class="media-object" src="{{comment.user.avatar.url}}" alt="">
								</div>
								<div class="media-body">
									<div class="media-heading">
										<h4>{{comment.user.username}}</h4>
										<span class="time">{{comment.date}}</span>
									</div>
									<p>{{comment.content}}</p>
									
									
									
									<!-- reply -->
									{% for reply in comment.replies.all  %}
									<div class="media media-author">
										<div class="media-left">
											<img class="media-object" src="{{reply.user.avatar.url}}" alt="">
										</div>
										<div class="media-body">
											<div class="media-heading">
												<h4>{{reply.user.username}}</h4>
												<span class="time">{{reply.date}}</span>
											</div>
											<p>{{reply.content}}</p>
											<!-- <a href="#" class="reply">Reply</a> -->
										</div>
									</div>
									<!-- /reply -->
									{% endfor %}
									{% if user.is_authenticated %}
									<a href="#" class="reply replybtn">Reply</a>
									<!--replay form-->
										
										<div class="section-row replyform " style="margin-top:20px">
											<div class="section-title">
												<h3 class="title">Leave a reply</h3>
											</div>
											<form class="post-reply" method="POST" >
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
														<input type="hidden" name="comment_id" value="{{comment.id}}">
															{% csrf_token %}
															{{commentForm}}
														</div>
													</div>
													<div class="col-md-12 ">
														<input class="primary-button float-right"  type="submit">
													</div>

												</div>
											</form>
										</div>
									{% endif %}
								
									<!--/replay form-->
								</div>
							</div>
							<!-- /comment -->
								{% endfor %}
							
						</div>
					</div>
					<!-- / comments  section-->
					{% if user.is_authenticated %}

					<!-- post comment -->
					<div class="section-row">
						<div class="section-title">
							<h3 class="title">Leave a comment</h3>
						</div>
						<form class="post-reply" method="POST" >
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										{% csrf_token %}
										{{commentForm}}
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="primary-button float-right" style="float:right" type="submit">
								</div>
								
							</div>
						</form>
					</div>
					<!-- /post comment -->
					{% endif %}
				</div>
				<div class="col-md-2">

				</div>
				<div class="col-md-4">
				
                {% include 'Blog/sideBar.html' %}

					

				
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<!-- <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script> -->
{% endblock  %}