{% load static %}
<!-- category widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Categories</h2>
						</div>
						<div class="category-widget">
							<ul>

								{% for cat in cats  %}
								<li>
									<a class="paddind_top" href="/category/{{cat.Name}}">{{cat.Name}} <span>{{cat.posts.all|length}}</span></a>
								
									{% if request.user in cat.subscribes.all %}
										<a href="/category/unsub-category/{{cat.id}}" class="supscripe-btn">un Subscripe</a>
									{% else %}
										<a href="/category/sub-category/{{cat.id}}" class="supscripe-btn">Subscripe</a>
									{% endif %}
									<div class="clearfix"></div>
									
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- /category widget -->


					<!--tages-->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Tags</h2>
						</div>
						<div class="tags-widget">
							<ul>
							{% for tag in tags  %}
							<li><a href="/tag/{{tag.name}}">{{tag.name}}</a></li>
							{% endfor %}
								
								
							</ul>
						</div>
					</div>
