{% load static %}
<!-- SECTION -->
	<div class="section">
		<!-- container -->
		
		<div class="container">
			<!-- row -->
			<div id="hot-post" class="row hot-post">
				<div class="col-md-8 hot-post-left">
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="/post/{{tops.0.id}}"><img src="{{tops.0.image.url}}" alt="" height="510px"></a>
						<div class="post-body">
							<div class="post-category">
							{% for cat in tops.0.category.all %}
								<a href="/category/{{cat.Name}}">{{cat.Name}}</a>
							{% endfor %}
								
							</div>
							<h3 class="post-title title-lg"><a href="/post/{{tops.0.id}}">{{tops.0.content|truncatechars:25}}</a></h3>
							<ul class="post-meta">
								<li><a href="#">{{tops.0.user.username}}</a></li>
								<li>{{tops.0.date}}</li>
								<li><i class="fa fa-thumbs-up"></i> {{tops.0.likes}}</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
				<div class="col-md-4 hot-post-right">
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img img-responsive img-fluid" href="/post/{{tops.1.id}}"><img src="{{tops.1.image.url}}" alt="" height="250px"></a>
						<div class="post-body">
							<div class="post-category">
								{% for cat in tops.1.category.all %}
									<a href="/category/{{cat.Name}}">{{cat.Name}}</a>
								{% endfor %}
							</div>
							<h3 class="post-title"><a href="/post/{{tops.1.id}}">{{tops.1.content|truncatechars:25}}</a></h3>
							<ul class="post-meta">
								<li><a href="#">{{tops.1.user.username}}</a></li>
								<li>{{tops.1.date}}</li>
								<li><i class="fa fa-thumbs-up"></i> {{tops.1.likes}}</li>
								
							</ul>
						</div>
					</div>
					<!-- /post -->

					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img" href="/post/{{tops.2.id}}"><img src="{{tops.2.image.url}}" alt="" height="253px"></a>
						<div class="post-body">
							<div class="post-category">
								{% for cat in tops.2.category.all %}
									<a href="/category/{{cat.Name}}">{{cat.Name}}</a>
								{% endfor %}
							</div>
							<h3 class="post-title"><a href="/post/{{tops.2.id}}">{{tops.2.content|truncatechars:25}}</a></h3>
							<ul class="post-meta">
								<li><a href="#">{{tops.2.user.username}}</a></li>
								<li>{{tops.2.date}}</li>
								<li><i class="fa fa-thumbs-up"></i> {{tops.2.likes}}</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->